<p><%= link_to '1ページ目へ', main_index_path %></p>

<h1>店舗検索</h1>
<p>結果はこちらです</p>

<a href="https://www.google.co.jp/maps/place/コープこうべコープ尼崎近松/"> <%= image_tag "コープ.jpg"  %></a>
<p>コープこうべコープ尼崎近松店</p>

<a href="https://www.google.co.jp/maps/place/万代+塚口店/"><%= image_tag "万代.jpg" %></a>
<p>万代 塚口店</p>
