<p><%= link_to '2ページ目', main_index2_path %></p>
<p><%= link_to '3ページ目', main_index3_path %></p>
<p><%= link_to '4ページ目', main_index4_path %></p>
<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
